<style>
  body {
    background-color: #bedbbb;
  }
  /*  < !-- https: //developer.mozilla.org/en-US/docs/Web/CSS/border-style -->*/

  hr {
    border-style: none;
    border-top-style: dotted;
    border-top-width: 5px;
    border-color: #8db596;
    width: 5%;
  }

/*https://colorhunt.co/palette/220072*/

  h1, h3 {
    color: #707070;
  }
</style>
